
@{
    ViewBag.Title = "Reports";
}

<h2>Reports</h2>


<a class="btn btn-default" onclick="location.href='@Url.Action("GetUsers", "Reports")'">View Users</a>
<a class="btn btn-default" onclick="location.href='@Url.Action("GetVehicles", "Reports")'">View Vehicle</a>
<a class="btn btn-default" onclick="location.href='@Url.Action("GetGasCards", "Reports")'">View Gas Cards</a>
<a class="btn btn-default" onclick="location.href='@Url.Action("GetSignedOut", "Reports")'">View Currently Signed Out</a>
<a class="btn btn-default" onclick="location.href='@Url.Action("GetSignOutLog", "Reports")'">View Sign Out History</a>