
<h3 class="CenterElement">Reports</h3>

<div class="container">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseLogs">
                <h4 class="panel-title">
                    <a><span class="glyphicon glyphicon-list"></span> Logs</a>
                </h4>
            </div>
            <div id="collapseLogs" class="panel-collapse collapse">
                <div class="panel-body">
                    <a onclick="location.href='@Url.Action("GetSignedOut", "Reports")'" class="list-group-item">Currently Signed Out</a>
                    <a onclick="location.href='@Url.Action("GetSignOutLog", "Reports")'" class="list-group-item">History</a>
                    <a onclick="location.href='@Url.Action("GetByDate", "Reports")'" class="list-group-item">Search History By Date</a>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseViewAll">
                <h4 class="panel-title">
                    <a><span class="glyphicon glyphicon-list"></span> View All</a>
                </h4>
            </div>
            <div id="collapseViewAll" class="panel-collapse collapse">
                <div class="panel-body">
                    <a onclick="location.href='@Url.Action("GetUsers", "Reports")'" class="list-group-item">Users</a>
                    <a onclick="location.href='@Url.Action("GetVehicles", "Reports")'" class="list-group-item">Vehicles</a>
                    <a onclick="location.href='@Url.Action("GetGasCards", "Reports")'" class="list-group-item">Gas Cards</a>
                </div>
            </div>
        </div>
    </div>
</div>

