@model IEnumerable<TransportationDB.TransportationRequest_View_DemoForSymposium>

@{
    ViewBag.Title = "Home Page";
    ViewBag.css = "../Content/HomePage.css";
}

<div class="jumbotron">
    <h1>V.M.S</h1>
    <p class="lead"><code>Vehicle Management System</code>, designed to streamline the checkin/checkout process in the facilities office on campus</p>
    <p><a href="https://www.cos.edu/About/FacultyStaffSupport/Facilities/Pages/default.aspx" target ="_blank" class="btn btn-primary btn-lg">Facilities Page &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Pending Requests <span class="badge">@ViewBag.RequestCount</span></h2>
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td width="90">Gas Card</td>
                    <td>Destination</td>
                    <td>Leave Date</td>
                    <td>Return Date</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @if (item.NeedGasCard == null || item.NeedGasCard == false)
                            {
                                @Html.Label("No")
                            }
                            else
                            {
                                @Html.Label("Yes")
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Destination)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LeaveDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReturnDate)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h2>SURGE developed APP</h2>
        <p>To increase the exposure of community college Science, Technology, Engineering, or Mathematic (STEM) majors to laboratory research equipment, methodologies and current research.</p>
        <p><a class="btn btn-info" href="http://www.cos.edu/Academics/MathEngineering/SURGE/Pages/default.aspx" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>