@model Transportation.TransporationRequest

@{
    ViewBag.Title = "TransporationRequest";
    ViewBag.css = "../Content/MainStyles.css";
    ViewBag.js = "../Scripts/CustomScripts/TransportationRequest.js";
}
<h2>TransporationRequest</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-segment">

        <!--Step 1-->
        <div class="jumbotron" id="step1">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span>Step #1</p>

            <!--Row Start-->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    First Name:<br />
                    @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control", @disabled = "disabled",@id="firstName" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Last Name:<br />
                    @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control", @disabled = "disabled", @id="lastName"})
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Banner Id:<br />
                    @Html.TextBoxFor(m => m.User.BannerId, new { @class = "form-control", @disabled = "disabled", @id="bannerId"})
                </div>
            </div>
            <br />
            @*<script type="text/javascript">
                $(document).ready(function () {

                    let firstName = $("#firstName");
                    let lastName = $("#lastName");
                    let bannerId = $("#bannerId");

                    if (@ViewBag.code != null) {

                        bannerId.val(@ViewBag.code.userInfo.EmployeeId);

                    } else {

                        alert("Json Failed to Load");
                    }



                })

            </script>*@
            <!--Row Start-->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Email:<br />
                    <!-- Waiting for that email stuff to come in -->
                    <input type="text" disabled="disabled" placeholder="example@cos.edu" class="form-control" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Phone:<br />
                    @Html.TextBoxFor(m => m.User.OfficePhoneNumber, new { @class = "form-control", @disabled = "disabled", @placeholder = "555 555 5555" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Mobile Phone:<br />
                    @Html.TextBoxFor(m => m.User.CellPhoneNumber, new { @class = "form-control", @disabled = "disabled", @placeholder = "555 555 5555" })
                </div>
            </div>

            <!--Button Div-->
            <div id="btnStepGroup1">
                <!--Next Step Button-->
                <a class="btn btn-success align-right" id="btnStep1Next"> Next Step <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

            <div style="clear: both;"></div>

        </div>

        <!--End Step 1-->

        <!-- Step 2 -->
        <div class="jumbotron" id="step2">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span>Step #2</p>
           
            <span class="btn btn-default" id="create-drivers">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add Driver
            </span>
            <table class="table">
                <thead>
                    <tr>
                        <th>Banner ID</th>
                        <th>First Name:</th>
                        <th>Last Name:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="add-driver">
                    <tr>
                        <th>
                            @Html.TextBoxFor(m => m.User.BannerId, new { @class = "form-control" })
                        </th>
                        <th>
                            @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control" })
                        </th>
                        <th>
                            @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
                        </th>
                        <th>
                            <kbd>Main Driver</kbd>
                        </th>
                    </tr>
                </tbody>
            </table>

            <!--Button Div-->
            <div id="btnStepGroup2">
                <!--Next Step button-->
                <a class="btn btn-success align-right" id="btnStep2Next"> Next Step <span class="glyphicon glyphicon-chevron-right"></span></a>

                <!--Previous button-->
                <a class="btn btn-danger align-right" id="btnStep2Prev"><span class="glyphicon glyphicon-chevron-left"></span> Previous </a>
            </div>

            <div style="clear: both;"></div>
        </div>

        <!-- Step 3 -->
        <div class="jumbotron" id="step3">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span>Step #3</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name:</th>
                            <th>Select Vehicle:</th>
                            <th><span class="glyphicon glyphicon-credit-card"></span> Gas Card</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                @Html.DropDownListFor(u => u.UserID, new SelectList(
                                new List<Object>
                                {
                                    new { value = "1", text = "Bob"},
                                    new {value = "2", text = "Jim"}
                                },
                                "value",
                                "text"))
                        </th>
                        <th>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-danger active">
                                    <input type="radio" id="V_RadNone" name="veh" value="1" />
                                    @Html.RadioButtonFor(m => m.Vehicle, 1, new { @checked = true, @id = "V_RadNone", @name = "veh" })
                                    None
                                </label>
                                <label class="btn btn-default">
                                    @Html.RadioButtonFor(m => m.Vehicle, 2, new { @id = "V_RadCar", @name = "veh" })
                                    Car
                                </label>
                                <label class="btn btn-default">
                                    @Html.RadioButtonFor(m => m.Vehicle, 3, new { @id = "V_Rad8", @name = "veh" })
                                    8 Pass Van
                                </label>
                                <label class="btn btn-default">
                                    @Html.RadioButtonFor(m => m.Vehicle, 4, new { @id = "V_Rad12", @name = "veh" })
                                    12 Pass Van
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        @Html.RadioButtonFor(g => g.NeedGasCard, 0, new { @checked = true, @id = "G_RadNo", @name = "gc" })
                                        No
                                    </label>
                                    <label class="btn btn-default">
                                        @Html.RadioButtonFor(g => g.NeedGasCard, 1, new { @id = "G_RadYes", @name = "gc" })
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>

            <!--Button Div-->
            <div id="btnStepGroup3">
                <!--Next Step button-->
                <a class="btn btn-success align-right" id="btnStep3Next"> Next Step <span class="glyphicon glyphicon-chevron-right"></span></a>

                <!--Previous button-->
                <a class="btn btn-danger align-right" id="btnStep3Prev"><span class="glyphicon glyphicon-chevron-left"></span> Previous </a>
            </div>

        <div style="clear: both;"></div>
    </div>

        <!--Step 4-->
        <div class="jumbotron" id="step4">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span>Step #4</p>

            <!--Row-->
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4">
                    Leave Date:<br />
                    @Html.TextBoxFor(m => m.LeaveDate, new { @class = "form-control", @type="date"})
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    Return Date:<br />
                    @Html.TextBoxFor(m=> m.ReturnDate, new { @class = "form-control", @type = "date" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    
                </div>
            </div>
            <br />
            <!--Row-->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Leave Time:<br />
                    @Html.TextBoxFor(m=> m.LeaveTime, new { @class = "form-control", @type = "time", @placeholder="6:00am" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Return Time:<br />
                    @Html.TextBoxFor(m=> m.ReturnTime, new { @class = "form-control", @type = "time" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">   
                </div>
            </div>

            <!--Button Div-->
            <div id="btnStepGroup4">
                <!--Next Step button-->
                <a class="btn btn-success align-right" id="btnStep4Next"> Next Step <span class="glyphicon glyphicon-chevron-right"></span></a>

                <!--Previous button-->
                <a class="btn btn-danger align-right" id="btnStep4Prev"><span class="glyphicon glyphicon-chevron-left"></span> Previous </a>
            </div>

            <div style="clear: both;"></div>
        </div>
        <!--End Step 4-->

        <!-- Step 5 -->
        <div class="jumbotron" id="step5">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span> Step #5</p>
            
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Purpose of the trip:<br/>
                    @Html.TextBoxFor(m=> m.TripPurpose, new { @class = "form-control", @maxlength = "254" })
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    How many students are going on the trip?<br/>
                    @*@Html.TextBoxFor(m=> m.NumOfStudents, new { @class = "form-control" })*@
                    @*@Html.TextBoxFor(m => m.NumOfStudents, new { @type = "number", @min = "0" })*@
                    @Html.DropDownListFor(m => m.NumOfStudents, Enumerable.Range(1, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                </div>
            </div>

            <!--Button Div-->
            <div id="btnStepGroup5">
                <!--Submit Button btnSubmit-->
                <input type="submit" value="Submit Form" class="btn btn-success align-right" />
                <a class="btn btn-success align-right" id="btnSubmit"><span class="glyphicon glyphicon-ok"></span> Submit</a>
                <!--Previous button-->
                <a class="btn btn-danger align-right" id="btnStep5Prev"><span class="glyphicon glyphicon-chevron-left"></span> Previous </a>
            </div>

            <div style="clear: both;"></div>
        </div>
        <!--End Step 5-->


        <div class="btn btn-default disableHover">
            @Html.ActionLink("Cancel", "Index")
        </div>
            
     </div>


    <script type="text/javascript">
    window.addEventListener("load", function () {
        console.log("in");
        console.log("@ViewBag.code");
    });
    </script>
}

