@model Transportation.TransporationRequest

@{
    ViewBag.Title = "TransporationRequest";
    ViewBag.css = "../Content/MainStyles.css";
}

<h2>TransporationRequest</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-segment">

        <!--Step 1-->
        <div class="jumbotron">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span>Step #1</p>

            <!--Row Start-->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    First Name:<br />
                    @Html.TextBoxFor(m=> m.User.FirstName, new { @class= "form-control", @disabled = "disabled", @placeholder="John"  })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Last Name:<br />
                    @Html.TextBoxFor(m=> m.User.LastName, new { @class="form-control", @disabled="disabled", @placeholder="Doe" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Date:<br />
                    <input type="text" disabled="disabled" placeholder="@DateTime.Now.ToShortDateString()" class="form-control" />
                </div>
            </div>
            <br />
            <!--Row Start-->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Email:<br />
                    <!-- Waiting for that email stuff to come in -->
                    <input type="text" disabled="disabled" placeholder="example@cos.edu" class="form-control" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Phone:<br />
                    @Html.TextBoxFor(m=> m.User.OfficePhoneNumber, new { @class="form-control", @disabled="disabled", @placeholder="555 555 5555"})
                </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                    Mobile Phone:<br />
                    @Html.TextBoxFor(m=> m.User.CellPhoneNumber, new { @class="form-control", @disabled="disabled", @placeholder="555 555 5555"})
                </div>
            </div>
        </div>
        <!--End Step 1-->

        <!-- Step 2 -->
        <div class="jumbotron">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span>Step #2</p>
            
            <div class="col-lg-6 col-md-6 col-sm-6">
            <h3><span class="glyphicon glyphicon-road"></span> Select a Vehicle</h3>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-danger active">
                            <input type="radio" id="V_RadNone" name="veh" value="1" /> None
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" id="V_RadCar" name="veh" value="2" /> Car
                        </label>
                        <label class="btn btn-default">
                            <input type="radio" id="V_RadVan" name="veh" value="3" /> Van
                        </label>
                    </div>

                    <!-- Not Styling Properly (Starting to hate Razer)-->
                    @*@Html.Label("None ", new { @for = "Rad1" }) @Html.RadioButtonFor(r => r.Vehicle, 0, new { @checked = true, @id = "Rad1", @name = "RadVehGroup" })
                    @Html.Label("| Car ", new { @for = "Rad2" })  @Html.RadioButtonFor(r => r.Vehicle, 1, new { @id = "Rad2", @name = "RadVehGroup" })
                    @Html.Label("| Van ", new { @for = "Rad3" })  @Html.RadioButtonFor(r => r.Vehicle, 2, new { @id = "Rad3", @name = "RadVehGroup" })*@
                    </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                <h3><span class="glyphicon glyphicon-credit-card"></span> Gas Card</h3>
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-danger active">
                        <input type="radio" id="G_RadNo" name="gc" value="1" /> No
                    </label>
                    <label class="btn btn-success">
                        <input type="radio" id="G_RadYes" name="gc" value="2" /> Yes
                    </label>
                </div>

                    @*@Html.Label("No ", new { @for = "RadN" }) @Html.RadioButtonFor(r => r.Vehicle, 0, new { @checked = true, @id = "RadN" , @name = "RadGasGroup" })
                    @Html.Label("| Yes ", new { @for = "RadY" })  @Html.RadioButtonFor(r => r.Vehicle, 1, new { @id = "RadY", @name = "RadGasGroup" })*@
 
            </div>

                <!--
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseViewAll">
                <h4 class="panel-title">
                    <a><span class="glyphicon glyphicon-unchecked"></span> Choose Car</a>
                </h4>
            </div>
            <div id="collapseViewAll" class="panel-collapse collapse">
                <div class="panel-body">
                    <a onclick="location.href='@Url.Action("GetUsers", "Reports")'" class="list-group-item">Users</a>
                    <a onclick="location.href='@Url.Action("GetVehicles", "Reports")'" class="list-group-item">Vehicles</a>
                    <a onclick="location.href='@Url.Action("GetGasCards", "Reports")'" class="list-group-item">Gas Cards</a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseViewAll">
                <h4 class="panel-title">
                    <a><span class="glyphicon"></span> Gas Card</a>
                </h4>
            </div>
            <div id="collapseViewAll" class="panel-collapse collapse">
                <div class="panel-body">
                    <a onclick="location.href='@Url.Action("GetUsers", "Reports")'" class="list-group-item">Users</a>
                    <a onclick="location.href='@Url.Action("GetVehicles", "Reports")'" class="list-group-item">Vehicles</a>
                    <a onclick="location.href='@Url.Action("GetGasCards", "Reports")'" class="list-group-item">Gas Cards</a>
                </div>
            </div>
        </div>-->
            <div style="clear:both;"></div>

            </div>

        <!--Step 3-->
        <div class="jumbotron">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span>Step #3</p>

            <!--Row-->
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4">
                    Leave Date:<br />
                    @Html.TextBoxFor(m => m.LeaveDate, new { @class = "form-control", @type="date"})
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    Return Date:<br />
                    @Html.TextBoxFor(m=> m.ReturnDate, new { @class = "form-control", @type = "date" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    
                </div>
            </div>
            <br />
            <!--Row-->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Leave Time:<br />
                    @Html.TextBoxFor(m=> m.LeaveTime, new { @class = "form-control", @type = "time", @placeholder="6:00am" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Return Time:<br />
                    @Html.TextBoxFor(m=> m.ReturnTime, new { @class = "form-control", @type = "time" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    
                </div>
            </div>
        </div>
        <!--End Step 3-->

        <!-- Step 4 -->
        <div class="jumbotron">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span> Step #4</p>
            
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Purpose of the trip:<br/>
                    @Html.TextBoxFor(m=> m.TripPurpose, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m=> m.TripPurpose, "WHAT IS THIS?", new { @class="text-danger" })
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    How many students are going on the trip?<br/>
                    @Html.TextBoxFor(m=> m.NumOfStudents, new { @class = "form-control" })
                </div>
            </div>
        </div>



        <div style="height:1024px"></div>
        <div class="form-horizontal">
            <h4>TransporationRequest</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OfficeNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OfficeNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OfficeNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CellPhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CellPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CellPhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VehicleId, "VehicleId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.DropDownList("VehicleId", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.VehicleId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.VehicleAddonId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.VehicleAddonId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VehicleAddonId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LeaveDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LeaveDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LeaveDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LeaveTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LeaveTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LeaveTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReturnDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReturnDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReturnDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReturnTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReturnTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReturnTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TripPurpose, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TripPurpose, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TripPurpose, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NumOfStudents, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NumOfStudents, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NumOfStudents, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PassengerGroupId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PassengerGroupId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PassengerGroupId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>

        </div>
        
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
