@model Transportation.TransporationRequest

@{
    ViewBag.Title = "TransporationRequest";
    ViewBag.css = "../Content/MainStyles.css";
}
<h2>TransporationRequest</h2>

<script>
    function ShowHide(NextStepId, PrevBtnId, CurrentStepId) {
        //show next step
        var x = document.getElementById(NextStepId);
        if (x.style.display === "") {
            x.style.display = 'block';
        }
        //hide previous button
        var whatever = document.getElementsByClassName(PrevBtnId);
        for (var i = 0; i < whatever.length; i++) {
            whatever[i].style.display = 'none';
        }
        //disable elements in previous id
        $('#' + CurrentStepId + " *").attr("disabled", "disabled");
        
    }

    function GoBack(stepId, PrevBtnId, PrevStepId) {
        //hide current step
        var x = document.getElementById(stepId);
        if (x.style.display === 'block') {
            x.style.display = "";
        }
        //show previous button
        var whatever = document.getElementsByClassName(PrevBtnId);
        for (var i = 0; i < whatever.length; i++) {
            whatever[i].style.display = 'inline-block';
        }
        //re-enable elements in previous id
        $('#' + PrevStepId + " *").removeAttr("disabled");
    }

    function EnableDisableSubmit(SubBtnId, Status) {
        var s = document.getElementById(SubBtnId)
        //make submit button visible
        if (Status === "enabled") {
            s.style.display = 'inline-block';
        }
        //make submit button invisible
        else if (Satus === "disabled"){
            s.style.display = 'none';
        }
    }

    function ValidateInformation(CurrentStepId, NextStepId, PrevBtnId) {
        //get all the data fields from the current step
        var allFieldsDone = 0;
        var Fields = $('#' + CurrentStepId + " input")

        Fields.each(function (index, element) {
            console.dir(element);
            //do nothing if any data field is left blank
            if (element.value === "") {
                alert("Please Fill In the " + element.localName + " Form");
            }
            else {
                if (true){

                    allFieldsDone++;
                }
                else {
                    alert("Invalid Input");
                }
            }
        })

        //call the next step function
        if (allFieldsDone === Fields.length) {
            ShowHide(NextStepId, PrevBtnId, CurrentStepId);
        }
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-segment">

        <!--Step 1-->
        <div class="jumbotron" id="Step1">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span>Step #1</p>

            <!--Row Start-->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    First Name:<br />
                    @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control", @disabled = "disabled", @placeholder = "John" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Last Name:<br />
                    @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control", @disabled = "disabled", @placeholder = "Doe" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Date:<br />
                    <input type="text" disabled="disabled" placeholder="@DateTime.Now.ToShortDateString()" class="form-control" />
                </div>
            </div>
            <br />
            <!--Row Start-->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Email:<br />
                    <!-- Waiting for that email stuff to come in -->
                    <input type="text" disabled="disabled" placeholder="example@cos.edu" class="form-control" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Phone:<br />
                    @Html.TextBoxFor(m => m.User.OfficePhoneNumber, new { @class = "form-control", @disabled = "disabled", @placeholder = "555 555 5555" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Mobile Phone:<br />
                    @Html.TextBoxFor(m => m.User.CellPhoneNumber, new { @class = "form-control", @disabled = "disabled", @placeholder = "555 555 5555" })
                </div>
            </div>

            <!--next step button-->
            <div class="align-right btnSet1" >
                <span class="btn btn-default" id="next-step" onclick="ShowHide('Step2', 'btnSet1')">
                    <span class="glyphicon glyphicon-chevron-right"></span> 
                    Next Step
                </span>
            </div>
            
            <div style="clear: both;"></div>

        </div>
        
        <!--End Step 1-->

        <!-- Step 2 -->
        <div class="jumbotron" id="Step2">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span>Step #2</p>
           
            <span class="btn btn-default" id="create-drivers">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add Driver
            </span>
            <table class="table">
                <thead>
                    <tr>
                        <th>Banner ID</th>
                        <th>First Name:</th>
                        <th>Last Name:</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="add-driver">
                    <tr>
                        <th>
                            @Html.TextBoxFor(m => m.User.BannerId, new { @class = "form-control" })
                        </th>
                        <th>
                            @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control" })
                        </th>
                        <th>
                            @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
                        </th>
                        <th>
                            <kbd>Main Driver</kbd>
                        </th>
                    </tr>
                </tbody>
            </table>
            <script type="text/javascript">
                //Deleting a row
                function deleteRow(num) {
                    console.log(num);
                    $("#row-" + num).remove();
                };

                $("#create-drivers").on("click", function () {
                    $.ajax({
                        async: false,
                        url: "/Transportation/CreateDriver"
                    }).success(function (pview) {
                        $("#add-driver").append(pview);
                    });
                });
                // Reference for later, use this for a login page


                $(window).load(function () {
                    var token = "@ViewBag.code";
                    console.log(token.substring(1, token.length - 2));
                });

            </script>

            <!--next step button-->
            <div class="align-right btnSet2">
                <span class="btn btn-default" id="next-step" onclick="ValidateInformation('Step2', 'Step3', 'btnSet2')">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Next Step
                </span>
            </div>

            <!--Go Back button-->
            <div class="align-right btnSet2">
                <span class="btn btn-default" id="go-back" onclick="GoBack('Step2', 'btnSet1')">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Go Back
                </span>
            </div>
            
            <div style="clear: both;"></div>
        </div>

        <!-- Step 3 -->
        <div class="jumbotron" id="Step3">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span>Step #3</p>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Name:</th>
                            <th>Select Vehicle:</th>
                            <th><span class="glyphicon glyphicon-credit-card"></span> Gas Card</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                @Html.DropDownListFor(u => u.UserID, new SelectList(
                                new List<Object>
                                {
                                    new { value = "1", text = "Bob"},
                                    new {value = "2", text = "Jim"}
                                },
                                "value",
                                "text"))
                        </th>
                        <th>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-danger active">
                                    <input type="radio" id="V_RadNone" name="veh" value="1" />
                                    @Html.RadioButtonFor(m => m.Vehicle, 1, new { @checked = true, @id = "V_RadNone", @name = "veh" })
                                    None
                                </label>
                                <label class="btn btn-default">
                                    @Html.RadioButtonFor(m => m.Vehicle, 2, new { @id = "V_RadCar", @name = "veh" })
                                    Car
                                </label>
                                <label class="btn btn-default">
                                    @Html.RadioButtonFor(m => m.Vehicle, 3, new { @id = "V_Rad8", @name = "veh" })
                                    8 Pass Van
                                </label>
                                <label class="btn btn-default">
                                    @Html.RadioButtonFor(m => m.Vehicle, 4, new { @id = "V_Rad12", @name = "veh" })
                                    12 Pass Van
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-danger active">
                                        @Html.RadioButtonFor(g => g.NeedGasCard, 0, new { @checked = true, @id = "G_RadNo", @name = "gc" })
                                        No
                                    </label>
                                    <label class="btn btn-success">
                                        @Html.RadioButtonFor(g => g.NeedGasCard, 1, new { @id = "G_RadYes", @name = "gc" })
                                        Yes
                                    </label>
                                </div>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>

            <!--next step button-->
            <div class="align-right btnSet3">
                <span class="btn btn-default" id="next-step" onclick="ShowHide('Step4', 'btnSet3', 'Step3')">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Next Step
                </span>
            </div>

            <!--Go Back button-->
            <div class="align-right btnSet3">
                <span class="btn btn-default" id="go-back" onclick="GoBack('Step3', 'btnSet2', 'Step2')">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Go Back
                </span>
            </div>

        <div style="clear: both;"></div>
    </div>

        <!--Step 4-->
        <div class="jumbotron" id="Step4">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span>Step #4</p>

            <!--Row-->
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4">
                    Leave Date:<br />
                    @Html.TextBoxFor(m => m.LeaveDate, new { @class = "form-control", @type="date"})
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4">
                    Return Date:<br />
                    @Html.TextBoxFor(m=> m.ReturnDate, new { @class = "form-control", @type = "date" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    
                </div>
            </div>
            <br />
            <!--Row-->
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Leave Time:<br />
                    @Html.TextBoxFor(m=> m.LeaveTime, new { @class = "form-control", @type = "time", @placeholder="6:00am" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Return Time:<br />
                    @Html.TextBoxFor(m=> m.ReturnTime, new { @class = "form-control", @type = "time" })
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">   
                </div>
            </div>

            <!--next step button-->
            <div class="align-right btnSet4">
                <span class="btn btn-default" id="next-step" onclick="ShowHide('Step5', 'btnSet4', 'Step4');EnableDisableSubmit('btnSubmit', 'enabled')">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Next Step
                </span>
            </div>

            <!--Go Back button-->
            <div class="align-right btnSet4">
                <span class="btn btn-default" id="go-back" onclick="GoBack('Step4', 'btnSet3', 'Step3')">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Go Back
                </span>
            </div>

            <div style="clear: both;"></div>
        </div>
        <!--End Step 4-->

        <!-- Step 5 -->
        <div class="jumbotron" id="Step5">
            <p class="step"><span class="glyphicon glyphicon-star-empty"></span> Step #5</p>
            
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    Purpose of the trip:<br/>
                    @Html.TextBoxFor(m=> m.TripPurpose, new { @class = "form-control", @maxlength = "254" })
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    How many students are going on the trip?<br/>
                    @*@Html.TextBoxFor(m=> m.NumOfStudents, new { @class = "form-control" })*@
                    @*@Html.TextBoxFor(m => m.NumOfStudents, new { @type = "number", @min = "0" })*@
                    @Html.DropDownListFor(m => m.NumOfStudents, Enumerable.Range(1, 100).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                </div>
            </div>

            <!--Go Back button-->
            <div class="align-right btnSet5">
                <span class="btn btn-default" id="go-back" onclick="GoBack('Step5', 'btnSet4', 'Step4')">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Go Back
                </span>
            </div>

            <div style="clear: both;"></div>
        </div>
        <!--End Step 5-->

        <div class="submit-container">
            <span class="btn btn-success" id="btnSubmit">Submit</span>
            <span class="btn btn-danger">Cancel</span>
        </div>
     </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
