@model IEnumerable<TransportationDB.GasCard>

@{
    ViewBag.Title = "GetGasCards";
}

<h2>Gas Cards</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GasCardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GasCardNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GasCardPin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GasCardStatus.StatusCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GasCardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GasCardNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GasCardPin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GasCardStatus.StatusCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GasCardId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GasCardId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GasCardId })
        </td>
    </tr>
}

</table>
