@model IEnumerable<Transportation.GasCard>

@{
    ViewBag.Title = "GetGasCards";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GasCardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GasCardNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GasCardPin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GasCardStatus.StatusCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GasCardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GasCardNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GasCardPin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GasCardStatus.StatusCode)
        </td>
        <td>
            <a class="btn btn-primary" onclick="location.href='@Url.Action("EditGasCard", "Edit", new { id = item.GasCardId })'">Edit</a>
            <a class="btn btn-danger" onclick="location.href='@Url.Action("DeleteGasCard", "Delete", new { id = item.GasCardId })'">Delete</a>
        </td>
    </tr>
}

</table>
