@model IEnumerable<Transportation.VehicleStatus>

@{
    ViewBag.Title = "getVehicleStatuses";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StatusCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StatusCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusName)
        </td>
        <td>
            <a class="btn btn-primary" onclick="location.href='@Url.Action("EditVehicleStatus", "Edit", new { id = item.StatusId })'">Edit</a>
            <a class="btn btn-danger" onclick="location.href='@Url.Action("DeleteVehicleStatus", "Delete", new { id = item.StatusId })'">Delete</a>
        </td>
    </tr>
}

</table>
