
@{
    ViewBag.Title = "Admin Panel";
}

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../Content/MainStyles.css" />

<h2>Index</h2>
<p>This is where cory will add links to the create [x] pages.</p>
<a class="btn btn-default" onclick="location.href='@Url.Action("CreateUser", "Admin")'">Create User</a>
<a class="btn btn-default" onclick="location.href='@Url.Action("CreateDepartment", "Admin")'">Create Department</a>
<a class="btn btn-default" onclick="location.href='@Url.Action("CreateVehicle", "Admin")'">Create Vehicle</a>
<a class="btn btn-default" onclick="location.href='@Url.Action("CreateVehicleStatus", "Admin")'">Create Vehicle Status</a>
<a class="btn btn-default" onclick="location.href='@Url.Action("CreateCampus", "Admin")'">Create Campus</a>
<a class="btn btn-default" onclick="location.href='@Url.Action("CreateKey", "Admin")'">Create Key</a>
<a class="btn btn-default" onclick="location.href='@Url.Action("CreateGasCard", "Admin")'">Create Gas Card</a>
<a class="btn btn-default" onclick="location.href='@Url.Action("CreateGasCardStatus", "Admin")'">Create Gas Card Status</a>
