
@{
    ViewBag.Title = "Admin Panel";
}

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="../Content/MainStyles.css" />

<h2 class="CenterElement">Admin Panel</h2>

<!--Add Items-->
<div class="list-group">
        <!--Header Element-->
        <a class="list-group-item listGroupHeader" data-toggle="collapse" data-target="#Add-collapse" ><span class="glyphicon glyphicon-list"></span> Add</a>
        <!--Body Element-->
        <div id="Add-collapse" class="collapse">
            <a onclick="location.href='@Url.Action("CreateUser", "Admin")'" class="list-group-item">User</a>
            <a onclick="location.href='@Url.Action("CreateDepartment", "Admin")'" class="list-group-item">Department</a>
            <a onclick="location.href='@Url.Action("CreateVehicle", "Admin")'" class="list-group-item">Vehicle</a>
            <a onclick="location.href='@Url.Action("CreateVehicleStatus", "Admin")'" class="list-group-item">Vehicle Status</a>
            <a onclick="location.href='@Url.Action("CreateCampus", "Admin")'" class="list-group-item">Campus</a>
            <a onclick="location.href='@Url.Action("CreateKey", "Admin")'" class="list-group-item">Key</a>
            <a onclick="location.href='@Url.Action("CreateGasCard", "Admin")'" class="list-group-item">Gas Card</a>
            <a onclick="location.href='@Url.Action("CreateGasCardStatus", "Admin")'" class="list-group-item">Gas Card Status</a>
        </div>
</div>

<!--Edit/Delete Items-->
<div class="list-group">
    <!--Header Element-->
    <a class="list-group-item listGroupHeader" data-toggle="collapse" data-target="#Delete-collapse"><span class="glyphicon glyphicon-list"></span> Edit/Delete</a>
    <!--Body Element-->
    <div id="Delete-collapse" class="collapse">
        <a onclick="location.href='@Url.Action("GetUsers", "Admin")'" class="list-group-item">User</a>
        <a onclick="location.href='@Url.Action("GetDepartments", "Admin")'" class="list-group-item">Department</a>
        <a onclick="location.href='@Url.Action("GetVehicles", "Admin")'" class="list-group-item">Vehicle</a>
        <a onclick="location.href='@Url.Action("GetVehicleStatuses", "Admin")'" class="list-group-item">Vehicle Status</a>
        <a onclick="location.href='@Url.Action("GetCampuses", "Admin")'" class="list-group-item">Campus</a>
        <a onclick="location.href='@Url.Action("GetKeys", "Admin")'" class="list-group-item">Key</a>
        <a onclick="location.href='@Url.Action("GetGasCards", "Admin")'" class="list-group-item">Gas Card</a>
        <a onclick="location.href='@Url.Action("GetGasCardStatuses", "Admin")'" class="list-group-item">Gas Card Status</a>
    </div>
</div>